// Sass Variables
$header-menu-border: #e2e2e2;
$color-header-text: #636363;
$color-header-item-selected: #1cb592;
$color-background: #fff;
$color-card-separator: #e2e2e2;
$color-link: #1cb592;
$color-file-section-separator: #e2e2e2;
$color-page-background: #fff;
$color-page-background: #fff;
$color-file-heading-separator: #e2e2e2;
$color-card-heading: #919292;
$color-card-timeline: #919292;
$color-icon: #c5c5c5;
$color-file-description: #919292;
