// Icons
.icon {
    width: 18px;
    height: 18px;
    float: left;
}

.icon-phone {
    background: url('../images/sprites.png') -10px -10px;
}

.icon-message {
    background: url('../images/sprites.png') -45px -8px;
}

.icon-mobile {
    background: url('../images/sprites.png') -10px -48px;
}
