// Cards
.card {
    display: flex;
    border-bottom: 1px solid $color-card-separator;
    padding: 1.25em 0.625em 1.25em 0;
    margin-right: 1.87em;
    &:first-child {
        padding-top: 0;
    }
    &:last-child {
        border-bottom: none;
    }
    .card__avatar {
        width: 5.75em;
        height: 5.75em;
        border: 1px solid red;
        flex-wrap: wrap;
        flex-shrink: 0;
        &.car__avatar--round {
            border-radius: 50%;
            overflow: hidden;
        }
    }
    .card__info,
    .card__contact {
        padding-left: 1.25em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .card__phone {
            margin-bottom: 0.31em;
        }
        // The size is not taking properly for this icon
        .fa-mobile {
            font-size: $font-size-x-large;
        }
    }
    .card__contact {
        font-size: $font-size-medium;
    }
    .card__heading {
        text-transform: uppercase;
        font-size: $font-size-small;
        color: $color-card-heading;
        margin-bottom: 0.5em;
    }
    .card__subject {
        margin-bottom: 0.31em;
        font-size: $font-size-large;
    }
    .card__description {
        margin-bottom: 0.31em;
        font-size: $font-size-regular;
    }
    // .card__info {
    //     width: 35%;
    // }
    .card__name {
        margin-bottom: 0.31em;
        font-size: $font-size-large;
    }
    .card__designation {
        margin-bottom: 0.18em;
        font-size: $font-size-regular;
    }
    .card__description {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: $font-size-regular;
        width: 100%;
    }
    .card_timeline {
        color: $color-card-timeline;
        font-size: $font-size-medium;
    }
    @include breakpoint(tablet) {
        &:last-child {
            border-bottom: 0;
        }
    }
}
