// Grid
html {
    box-sizing: border-box;
}
body {
    background-color: $color-page-background;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

.container {
    display: flex;
    border-bottom: 1px solid $color-card-separator;
    flex-grow: 1;
    margin: 1.43em 1.25em;
    padding-bottom: 1.43em;
    .card-list-panel {
        flex-grow: 1;
        width: 60%;
        float: left;
        @include breakpoint(tablet) {
            & {
                width: 100%;
            }
        }
    }
}

@include breakpoint(tablet) {
    .container {
        flex-direction: column;
        margin: 0.8em 1.25em;
    }
}

.files-section {
    display: inline-block;
    width: 400px;
    flex-grow: 0;
    padding-left: 2.5em;
    border-left: 1px solid $color-file-section-separator;
    @include breakpoint(tablet) {
        & {
            padding-left: 0;
            border-left: none;
            width: 100%;
        }
    }
    section {
        margin-bottom: 1.87em;
    }
}
