// Grid
html {
    box-sizing: border-box;
}
body {
    background-color: $color-page-background;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

.container {
    display: flex;
    border-bottom: 1px solid $color-card-separator;
    flex-grow: 1;
    .card-list-panel {
        padding: 20px;
        flex-grow: 1;
        width: 60%;
        float: left;
    }
}

@include breakpoint(tablet) {
    .container {
        flex-direction: column;
    }
}

.file-list-container {
    width: 400px;
}

.files-section {
    @include breakpoint(tablet) {
        & {
            padding-left: 0;
            border-left: none;
            width: 100%;
        }
    }
    display: inline-block;
    max-width: 400px;
    min-width: 400px;
    padding-left: 4px;
    flex-grow: 0;
    section {
        margin-bottom: 30px;
    }
}
